{% extends 'layout.html.twig' %}


{% block stylesheet %}

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@1,300&display=swap" rel="stylesheet">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&display=swap" rel="stylesheet">

{% endblock %}

{% block content %}
    <!-- header -->
    <div id="header">

    <img src="/assets/images/inventetonfeat-ok.png">

    </div>


<div id="conteneur-principal">

    <!-- aside gauche -->
    <div id="left-side">

        <h2>Première lettre de ton prénom</h2>

            <div class="liste-tracks">

                {% for acapella in acapellas %}

                <li class="playlist">
                    <input type="radio" class="acapella1" name="acapella" id="acapella_{{ acapella.id }}" value="{{ acapella.url }}">
                        <label id="labelfor_acapella_{{ acapella.id }}" for="acapella_{{ acapella.id }}" >{{ acapella.name }}</label>
                {% endfor %}

                </li>

            </div>

    </div>

    <!-- button play -->

    <div id="center">

        <div id="versus">

            <div id="songname1"> Choisir artiste 1 à gauche
            </div>
            FEAT.
            <div id="songname2">Choisir artiste 2 à droite
            </div>

        </div>

        <div id="player-principal">
            <audio controls id="audioPlayer1"></audio>

            <div id="player">
                    <p id="action">Play</p>
                    <i id="play" class="fa fa-play"></i>
            </div>

        <audio controls id="audioPlayer2"></audio>

            <div id="play2">
                <p id="action">Play</p><i id="play2" class="fa fa-play"></i>
            </div>

        </div>
    </div>

    <!-- side right -->

    <div id="right-side">


        <h2>Première lettre de ton nom</h2>

            <div class="liste-tracks">

                {% for beat in beats %}

                    <li class="playlist">
                            <input type="radio" class="acapella2" name="beat" id="beat_{{ beat.id }}" value="{{ beat.url }}">
                            <label id="labelfor_beat_{{ beat.id }}" for="beat_{{ beat.id }}"> {{ beat.name }}</label>
                    </li>
                {% endfor %}

            </div>
    </div>

</div>

    <script src="/assets/js/player.js"></script>


    <footer>

        <button onclick="document.location.reload(false)" class="reset"> Reset </button>
        <p>© made with ♥ by Emiliano, Damien et Johan</p>
    </footer>

    <script src="/assets/js/background-color.js"></script>

{% endblock %}